# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.My PJ.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\user\Desktop\My PJ\.idea\.idea.My PJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
