# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CameraPJ.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\admin\Desktop\Unity homework\Digital_Cube_PJ\CameraPJ\.idea\.idea.CameraPJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
