# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Joystick_PJ.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\admin\Desktop\Unity homework\Digital_Cube_PJ\Joystick_PJ\.idea\.idea.Joystick_PJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
